<div class="">
    <!-- Example row of columns -->
    <div class="row movies-list">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Hypemachine Downloads</div>
          <div class="panel-body">
            <!-- Table -->
              <table class="table">
                <thead>Title</thead>
                <tbody>
                    <td>SongTitle</td>
                    <td>Artist</td>
                </tbody>
              </table>
          </div>

          
        </div>

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">8tracks Popular</div>
          <div class="panel-body">
            <p>Stuff</p>
          </div>

          <!-- Table -->
          <table class="table">
            
          </table>
        </div>
        <!-- <div class="col-md-4" data-ng-repeat="movie in movies | orderBy:'name':false | filter:search">
            <h2>{{movie.name | uppercase}}</h2>
            <p>
                <img data-ng-src="{{movie.thumb}}" class="thumb-big">
            </p>
            <p>{{movie.review | limitTo:99}}...</p>
            <p>
                <span class="label label-warning availability">Availability ({{movie.availability}})</span>
                <a data-ng-href="#/movie/{{movie.id}}" class="btn btn-primary ">Review</a>
                <a data-ng-href="#/bookTickets/{{movie.id}}" class="btn btn-success " role="button" data-ng-disabled="movie.availability == 0">Book »</a>
            </p>
        </div> -->
    </div>
</div>