<div class="row row-navbar-left">
    <!-- Left nav bar -->
    <ul class="drawer">
      <li id="drawer-first"> <a href="#"> <i class="fa fa-home"></i> <span>Home</span> </a></li>
      <li> <a href="#"> <i class="fa fa-music"></i> <span>8tracks</span> </a> </li>
      <li> <a href="#"> <i class="fa fa-music"></i> <span>hypeM</span> </a> </li>
      <li> <a href="#"> <i class="fa fa-download"></i> <span>Downloads</span> </a> </li>
    </ul>


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">lazyPlayer</a>
            </div>
        </div>
    </div>
</div>