
.sans-upper {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

/*Sound Manager*/
.sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #767678;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}

/*Scrollbar Styles*/
::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: ##e6e6e6;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: #000;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.btn.sharp {
  border-radius:0;
}

.btn.outline {
    background: none;
    background-color: #DADFE1;
    padding: 2px 12px;
}

.btn.toggle {
  margin-right: 0.1em;
  font-size: 2em;
  border-color: #DADFE1;
}
