
.sans-upper {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

/*header.html*/
/*.row-navbar-left {
	margin-top: 3.6em;
}*/

.windowTools {
  -webkit-app-region: no-drag;
  /*-webkit-user-select: none;*/
  -webkit-transition: -webkit-transform 200ms;
  text-decoration: none !important;
  color: #9d9d9d !important;
  font-size: 1.2em;
  margin-right: .5em;
  margin-top: .5em;
}

#windowButtons > ul > li,
#windowButtons > ul > li > a{
  display: inline-block;
}

#windowButtons > ul {
  float: right;
}

#windowButtons > ul > li > a:hover,
#windowButtons > ul > li > a:focus{
  -webkit-transform:  scale(1.10,1.10);
  outline: none;
}

#bottom-navbar {
  /*padding-top: .4em;*/
  /*padding-bottom: .4em;*/
  background-color: #888E8C;
  border-color: #888E8C;
  height: 69px;
}

#categoryTabs {
  margin-top: 1em;
}

#categoryTabs > ul > li {
  -webkit-app-region: no-drag;
}

#categoryTabs > ul >  li > a {
  border-radius: 2px 2px 0 0;
  color: #c94a00;
  font-size: .625em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
  background-color: #fffcf5;
}

#now-playing {
  font-size: 1em;
}

body {
  background-color: #fffdfa;
  -webkit-app-region: drag;
}

body::-webkit-scrollbar { width: 0 !important }




/*index.html*/
#mainContainer {
  /*padding-left: 6em;*/
  /*position: absolute;*/
}

/*home.html*/
.container-main {
	/*padding-right: 0;*/
}

.container-right {
	/*padding-top: 0.8em;*/
    /*padding-left: 6em;*/
    /*padding-right: 0em;*/
  padding-bottom: 6em;
}

#inner-container-right {
  padding-left: 2em;
  padding-right: 2em;
}

.container-right h3 {
	text-align: right;
}

.row-main-body {
	/*margin-top: 1em;*/
    overflow-x: hidden; 
    height: 400px;
}

.nav-tabs>li {
  float: right;
}

#downloadSong {
  float: right;
  vertical-align: center;
}

#starSong {
  float: right;
  vertical-align: center;
}

/*Sound Manager*/
.sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #767678;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}

/*Hype Machine Ordered List*/
/*.space-bottom {
	margin-bottom: 1rem;
}*/

/*.pad-bottom {
	padding-bottom: 1rem;
}*/

.separator-bottom {
	border-bottom: 1px solid #e6e6e6;
}

#hypePop {
  list-style: decimal;
}

/*Hype Machine OL Individual Songs*/
#hypePop li {
  padding: 0.5em;
  font-size: .805em;
  /*font-family: sans-serif;*/
  text-transform: uppercase;
}

#hypePop li:hover {
  background-color: #90A59E;
}

#hypePop li.li-no-hover:hover {
	background-color: transparent;
}

#hypePop h4 {
  float: right;
}

#songImage > img {
  border:1px solid #021a40;
  border-radius: 2px 2px 0 0;
}




.drawer {
  margin-top: 0.8em;
  /*position: fixed;*/
  z-index: 10;
  left: 0;
  /*height: 100%;*/
  padding: .4em 0;
  background: #d6d2cc;
  color: white;
  text-align: center;
  font-size: 0;
  margin-bottom: 0;
}

.drawer li {
  pointer-events: none;
  /*position: relative;*/
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  line-height: 100%;
  transform: translateZ(0);
}

.drawer a {
  pointer-events: auto;
  position: relative;
  display: block;
  min-width: 5em;
  /*margin-bottom: .4em;*/
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  /*padding: .4em;*/
  line-height: 100%;
  font-size: 16px;
  text-decoration: none;
  color: #4f5e59;
  transition: background 0.3s;
}

.drawer a:active,a
.drawer a:focus { background: #B44659; }

.drawer i {
  display: block;
  margin-bottom: .2em;
  /*font-size: 2em;*/
}

.drawer span {
  font-size: .625em;
  font-family: sans-serif;
  text-transform: uppercase;
}


/*.drawer > li { display: block;}*/

.drawer > li > a { background: ##9d9d9d; }

.drawer > li:hover { z-index: 100; }

.drawer > li:hover a { background: #B44659; }

.drawer > li a:hover { background: #c94a00; }

.drawer > li > a:after {
/*  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 4px;
  opacity: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1 );
  transition: opacity 0.5s;*/
}

.drawer > li:hover a:after { opacity: 1; }

/*Home icon in drawer*/
#drawer-first {
  padding-top: 2em;
}

/*Scrollbar Styles*/
::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: ##e6e6e6;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: #000;
}


.no-drag {
  -webkit-app-region: no-drag;
}
#nav-bar-top {
  padding-left: 0;
  padding-right: 0;
}

#nav-bar-top > ul > li {
  -webkit-app-region: no-drag;
}
